:root { 
--gray_900_bf:#191825bf; 
--blue_gray_50:#f1f2f2; 
--gray_800:#393e46; 
--gray_900:#191825; 
--amber_300:#facd49; 
--gray_200:#eeeeee; 
--black_900_0c:#0000000c; 
--gray_900_19:#19182519; 
--amber_300_14:#facd4914; 
--indigo_400:#5d50c6; 
--gray_900_0c:#1918250c; 
--black_900_11:#00000011; 
--black_900:#000000; 
--gray_900_7f:#1918257f; 
--deep_orange_500:#ff5722; 
--blue_gray_900:#222831; 
--black_900_19:#00000019; 
--pink_300:#f85e9f; 
--white_A700:#ffffff; 
--black_900_16:#00000016; 
}